
.gradle/6.8/executionHistory/executionHistory.lock
.gradle/6.8/fileChanges/last-build.bin
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
build/tmp/kapt3/incrementalData/main/com/myapp/ui/feature/main/MainScreenComponent.class
.build/*
build/*
.gradle/*
.idea/*
*build/classes/*
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt.class
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt$lambda-1$1.class
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt$lambda-1$1.class
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt$lambda-2$1.class
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt.class
build/kotlin/compileKotlin/build-history.bin
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/last-build.bin
build/kotlin/kaptGenerateStubsKotlin/build-history.bin
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/counters.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/file-to-id.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.len
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/lookups.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/last-build.bin
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt$lambda-1$1.class
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt$lambda-2$1.class
build/classes/kotlin/main/com/myapp/ui/feature/ComposableSingletons$MainActivityKt.class
build/kotlin/compileKotlin/build-history.bin
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/last-build.bin
build/kotlin/kaptGenerateStubsKotlin/build-history.bin
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/counters.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/file-to-id.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.len
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/lookups.tab
build/kotlin/kaptGenerateStubsKotlin/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/kaptGenerateStubsKotlin/last-build.bin
*.class
